html
{
    background-color: #ecf0f1;
    font-family: sans-serif;
    
}
body
{
    margin: 0px;
}

h3:hover
{
    color: blue;
}
h1
{
    font-size: 42px;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 700px;
    margin-left: 5px;
}


.About
{
    background: #ffffff;
    border: 2px solid rgba(24, 126, 114, 0.3);
    padding-top: 20px;
    margin-left: 100px;
    padding-left: 10px;
    min-width: 200px;
    border-radius: 15px;
    height: 150px;
    float: left;
    text-align: center;
}

.Contact
{
    background: #ffffff;
    border: 2px solid rgba(24, 126, 114, 0.3);
    padding-top: 20px;
    margin-left: 100px;
    padding-left: 10px;
    min-width: 200px;
    border-radius: 15px;
    height: 150px;
    float: left;
    text-align: center;

}
.ContactImage
{
    width: 100px;
    height: 100px;
    
}
.follow
{
    margin-left: 560px;
    width: 208px;
    font-size: 12px;
    list-style-type: none;
}
.color:hover
{
    color:red;
}
footer
{
    padding: 20px;
    text-align: center;
    min-width: 100%;
    padding-top: 15px;
}
.Container
{
    max-width: 1200px;
    min-width: 1200px;
    height: 580px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
}
.Personal
{
    background: #ffffff;
    border: 2px solid rgba(24, 126, 114, 0.3);
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 255px;
    padding-left: 10px;
    min-width: 200px;
    border-radius: 15px;
    height: 150px;
    float: left;
    text-align: center;
}
.Copy
{
    margin-top: 10px;
    float: left;
    margin-left: 100px;
}
.nav 
{
  text-align: right;
}


.personalDiv
{
    background-color: #ffffff;
    margin-top: 60px;
    max-width: 720px;
    padding: 30px;
    padding-top: 70px;
    height: 380px;
    margin-left: 200px;
    
}

.home
{
    text-align: center;
    width: 100px;
    height: 100px;
}
.h3Home
{
    text-align: center;
    text-transform: uppercase;
}

.Welcome
{
    margin-top: 20px;
    float: left;
    margin-left: 400px;
    width: 700px;
}

a{
    text-decoration: none;
}
.nav_class ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: right;
    color: white;
    
}
.nav_class li
{
    display: inline;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.nav_class a
{
    display: block;
    width: 60px;
    padding: 14px;
    color: white;
    margin-right: 20px;
}

.nav_class a:hover
{
    background-color: rgba(43, 175, 109, 0.81);
}
.nav_class
{
    display: inline-block;
    width: 100%;
    background-color: rgba(28, 98, 63, 0.81);
    position:fixed; 
}